.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.header {
    width: 100%;
    height: 80px;
    text-align: center;
}

.modal {
    background: rgba(0, 0, 0, 0.6);
}

.modal-container {
    position: absolute;
    width: 60%;
    background: #ffffff;
    left: 25%;
    top: 30%;
    padding: 20px;
}
