.createTask {
  background-color: aquamarine;
  border: none;
  padding: 15px 25px;
  font-size: 20px;
  border-radius: 5px;
}
.title {
  text-align: center;
  height: 50px;
  padding-top: 20px;
  background-color: beige;
  border-radius: 5px;
}
table {
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}
td {
  border: 1px solid #c7c7c7;
}
.titleTask > td {
  background-color: #f4f3f3;
  padding: 20px;
  font-weight: bold;
  font-size: 25px;
}
.createSubTask > td {
  padding: 25px;
  font-size: 20px;
}
.createSubTask > td  button {
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 5px;
  border: none;
}
.createSubTask > td  .update {
  background-color: #18892b;
}
.createSubTask > td  .delete {
  background-color: #8699e0;
  margin-top: 5px;
}